#s5 .box {
  height: 300px;
  background-color: gray;

  /* item layout */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#s5 .box ul {
  /* reset */
  padding: 0;
  margin: 0;

  /* layout */
  width: 400px;
  height: 100%;

  /* item layout */
  /* display: flex; */
  position: relative;
}

#s5 .box li {
  /* reset */
  list-style: none;

  /* text */
  font-weight: bold;
  font-size: 36px;
  color: white;

  /* layout */
  position: absolute;
  box-sizing: border-box;
  width: 100px;
  height: 150px;
  border: 3px solid white;
  border-radius: 10px;

  /* item layout */
  display: flex;
  justify-content: center;
  align-items: center;
}

#s5 .box li:nth-child(1) {
  left: 0px;
}

#s5 .box li:nth-child(2) {
  left: calc(50% - 50px);
}

#s5 .box li:nth-child(3) {
  left: calc(100% - 100px);
}

#s5 .btn-list {
  position: absolute;
  bottom: 0;
}
/* ----------------------------------------------- */

#s4 .box {
  height: 300px;
  background-color: gray;

  /* item layout */
  display: flex;
}

#s4 .box .tool-box {
  width: 300px;
  padding: 30px;
}

#s4 .box .preview-box {
  flex-grow: 1;
  border-left: 1px solid white;

  /* item layout */
  display: flex;
  align-items: center;
  justify-content: center;
}

#s4 .box .preview-box .item {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  border: 1px solid #000;
  background-color: #00000077;
}
/* ----------------------------------------------- */

#s3 .box {
  display: grid;
  grid-template: repeat(6, 50px) / repeat(4, 50px);
}

#s3 .box input[type="text"] {
  grid-area: 1/1/2/-1;
}
